<html>
  <body>
    <div class="container" fxLayoutAlign="start center" fxLayoutGap="15px">
      <section id="content">
        <form #AssetTracker="ngForm" (ngSubmit)=processForm(AssetTracker)>
          <img src="assets/AssetTracker.gif"  class="logo" alt="">   
          <h1>Login</h1>

          <div>
            <!-- <div>
              <input type="text" name="name" placeholder="Name" ngModel required>
            </div> -->
            
            <div>
              <input type="email" matInput name="email" placeholder="Email" required email ngModel>
            </div>
    
            <div>
              <input type="password" matInput name="password" placeholder="Password" minlength=8 required ngModel
              pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,}$">
            </div>

              <input type="submit" [disabled]="AssetTracker.invalid" />
              <a [routerLink]="['/Reset']">Lost your password?</a>
              <a [routerLink]="['/Register']">Register</a>
          </div>
        </form>
      </section>
    </div>
  </body>
</html>





  <!-- <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="navigateToLogin()">
      <mat-icon>person_pin</mat-icon>
      <span>Login</span>
  </button>
  
  <button mat-menu-item (click)="navigateToRegister()">
      <mat-icon>note_add</mat-icon>
      <span>Register</span>
  </button>
  
  <button mat-menu-item (click)="navigateToProfile()">
      <mat-icon>person_pin</mat-icon>
      <span>My Profile</span>
  </button>
  <button mat-menu-item (click)="navigateToChangePassword()">
      <mat-icon>star</mat-icon>
      <span>Change Password</span>
  </button>
  <button mat-menu-item (click)="navigateToResetPassword()">
      <mat-icon>change_history</mat-icon>
      <span>Reset Password</span>
  </button>
  <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
  </button>
</mat-menu> -->
